
html, body {
  font-family: 'Quicksand', sans-serif;
  background-color: rgb(214, 214, 214);
}

/* Top header containing search bar, this is fixed */
header {
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 20px;
  background-color: rgb(30, 30, 30);
  display: inline-flex;
  width: 100%;
  position: fixed;
  top: 0;
}
/* App title name */
#headerTitle {
  font-size: 50px;
  margin-right: 90px;
}
/* Bar to type in, searching for a Pokemon by name or number */
#searchBar {
  border: none;
  outline: none;
  border-radius: 15px;
  color: black;
  background-color: rgb(167, 167, 167);
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  width: 500px;
}
/* Button to launch a search */
#searchBtn {
  border: none;
  outline: none;
  border-radius: 15px;
  color: white;
  background-color: rgb(139, 37, 37);
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  padding: 10px;
  margin-left: 20px;
  width: 200px;
}
#searchBtn:hover {
  background-color: rgb(71, 23, 23);
}
#searchBtn:active {
  background-color: rgb(98, 70, 129);
}

/* Pokemon name */
#displayName {
  font-family: 'Quicksand', sans-serif;
  border: none;
  resize: none;
  font-size: 70px;
}
/* Pokemon type info box */
#displayType {
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  border: none;
  outline: none;
  border-radius: 15px;
  color: white;
  background-color: rgb(30, 30, 30);
  padding: 10px;
  margin: 50px;
}
/* Pokemon image */
#displaySprite {
  width: 300px;
  margin-top: 30px;
}
/* Box surrounding all Pokemon info pulled up by search */
#pokemonInfo {
  text-align: center;
  margin-top: 150px;
}

/* Chrome autocomplete text edit for search bar */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  outline: none;
  border-radius: 15px;
  color: black;
  background-color: rgb(167, 167, 167);
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  padding: 10px;
  text-align: center;
  width: 500px;
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0px 1000px  rgb(167, 167, 167) inset;
}