
#fullPage {
  text-align: center;
}

#searchBar {
  border: none;
  outline: none;
  border-radius: 15px;
  color: black;
  background-color: rgb(167, 167, 167);
  font-family: 'Quicksand', sans-serif;
  font-size: 25px;
  margin: 80px;
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  width: 500px;
}

#searchBtn {
  border: none;
  outline: none;
  border-radius: 15px;
  color: white;
  background-color: rgb(139, 37, 37);
  font-family: 'Quicksand', sans-serif;
  font-size: 30px;
  margin: 30px;
  padding: 10px;
  width: 500px;
}
#searchBtn:hover {
  background-color: rgb(71, 23, 23);
}
#searchBtn:active {
  background-color: rgb(98, 70, 129);
}

#displayName {
  font-family: 'Quicksand', sans-serif;
  border: none;
  text-align: center;
  resize: none;
  font-size: 100px;
}

#displaySprite {
  width: 300px;
  margin-top: 30px;
}